@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}
header {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  backdrop-filter: blur(50%);
  padding: 0 1rem;
  position: sticky;
  top: 0;
  border: 8px solid rgba(255, 255, 255, 0.038);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.para {
  background-color: #b9b5b5;
  text-align: center;
  font-size: 0.6rem;
  font-weight: 600;
  padding: 0.3rem;
}
nav {
  height: inherit;
}
nav ul {
  background-color: inherit;
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  list-style-type: none;
}
nav ul li a {
  text-align: center;
  text-decoration: none;
  color: black;
}
nav ul li a:hover {
  text-decoration: underline;
  color: lightgray;
}
.logo {
  width: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: inherit;
}
.logo img {
  width: 35px;
  height: auto;
}
.input-search {
  display: flex;
  justify-content: flex-end;
}
input {
  border: none;
  border-radius: 10px;
  border: 2px solid rgba(40, 39, 39, 0.2);
}
input::placeholder {
  color: rgb(130, 130, 130);
  font-size: 10px;
  text-align: center;
  padding: 20px 45px 20px 20px;
}
.icons-cart {
  margin-left: 12px;
}
.checkbtn {
  font-size: 20px;
  color: black;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}
main{
    padding: 10px 50px 0;
}
.section1 {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  background-color: gray;
  border-radius: 8px;
  padding: 10px 0;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}
.card img{
    width: 100px;
}
.card h2{
    font-size: 0.9rem;
    margin: 20px 0 40px;
}
.section2{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.container{
  border: 1px solid ;
  border-radius: 8px;
  padding: 20px 30px;
}
.container h3{
  margin: 20px 0;
  font-family: serif;
  font-size: 1.5rem;

}
.container p{
  margin: 20px 0;
  font-family: serif; 
}
p span{
  font-family: serif;
  font-weight: 700;
}
/* Responsive Design with Media Query */
@media (max-width: 768px) {
  .checkbtn {
    display: flex;
    order: 1;
    margin: 10px 20px;
  }
  nav ul {
    position: fixed;
    top: 80px;
    right: 100%;
    background-color: rgba(162, 163, 164, 0.793);
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
  }

  ul li {
    margin: 20px 0;
  }

  ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    right: 0;
  }
  .logo img {
    width: 20px;
  }
  .card {
    width: 90%;
  }
}

